<!DOCTYPE html>
<html>
<head>
<title>Aktive Rechner</title>
</head>
<body>
<p>Aktive Rechner:
<table>
<tr>
	<th>Rechner</th>
</tr>
%for item in clientdata:
<tr>
	<td><a href="/client/{{item}}">{{item}}</a></td> 
</tr>
%end
</table>
</body>
</html>
