<!DOCTYPE html>
<html>
<head>
<title>Verlauf</title>
</head>
<body>
<a href="/ids">Übersicht</a></br>
<a href="/graph/{{mid}}/hourly">Letzte Stunde</a></br>
<a href="/graph/{{mid}}/daily">Letzter Tag</a></br>
<img src="/svg/{{mid}}.svg" style="width:100%;height=auto" />
</body>
</html>
